html {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  font-size: 10px;
}

section,
form {
  padding: 1.6rem;
  border-radius: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3.2rem auto;
  max-width: 40rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.form-control {
  margin: 0.5rem 0;
}

input {
  font: inherit;
}

input,
label {
  font-size: 1.6rem;
  display: block;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

button {
  font-size: 1.2rem;
  background-color: #2f005a;
  border: 1px solid #2f005a;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

button:hover,
button:active {
  background-color: #50005a;
  border-color: #50005a;
}
